/* 全局样式设置 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 确保所有内容在中间 */
}

/* 标题样式 */
h1 {
    color: #5a5a5a;
    text-align: center;
}

/* 库存列表样式 */
#inventoryList {
    width: 80%; /* 控制库存列表的宽度 */
    max-width: 600px; /* 最大宽度，适应屏幕大小 */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 使所有库存项居中 */
}

/* 单个库存项样式 */
.inventory-item {
    background-color: #ffffff;
    margin-bottom: 10px; /* 库存项之间的间距 */
    width: 100%; /* 使库存项填充整个容器宽度 */
    padding: 15px; /* 内部间距 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加阴影 */
    text-align: center; /* 文本居中 */
    border-radius: 5px; /* 轻微圆角 */
}

.inventory-item:last-child {
    margin-bottom: 0; /* 最后一个项目不需要底部边距 */
}

.action-button {
    background-color: #007bff; /* 蓝色背景 */
    color: white; /* 白色文字 */
    padding: 10px 20px; /* 内边距 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 轻微的圆角 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
    font-size: 16px; /* 文字大小 */
    margin-bottom: 10px; /* 底部外边距 */
    display: inline-block; /* 确保按钮不会扩展到全宽 */
}

.action-button:hover {
    background-color: #0056b3; /* 深蓝色背景，鼠标悬停效果 */
}

/* 样式增强的手机号输入框 */
#phoneNumberInput {
    padding: 10px 15px;           /* 增加内边距，使文本框更宽敞 */
    border: 1px solid #ccc;       /* 设置边框颜色和粗细 */
    border-radius: 5px;           /* 圆角边框 */
    font-size: 16px;              /* 调整字体大小 */
    outline: none;                /* 移除点击时的默认轮廓线 */
}

#phoneNumberInput:focus {
    border-color: #0056b3;        /* 焦点状态下的边框颜色 */
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5); /* 焦点状态下的阴影效果 */
}

/* 调整按钮样式以匹配输入框 */
.action-button {
    padding: 10px 20px;           /* 内边距调整 */
    font-size: 16px;              /* 字体大小调整 */
    background-color: #007bff;    /* 背景色 */
    color: white;                 /* 文本颜色 */
    border: none;                 /* 无边框 */
    border-radius: 5px;           /* 圆角 */
    cursor: pointer;              /* 鼠标样式 */
    margin: 10px 0;               /* 外边距调整 */
}

.action-button:hover {
    background-color: #0056b3;    /* 悬停时的背景颜色变化 */
}
